/* components/Header.module.css */
.header {
    padding: 1rem 2rem;
    background-color: var(--background);
    color: var(--foreground);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
  
  .themeToggle {
    background: var(--background);
    border: 2px solid var(--foreground);
    border-radius: 50px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: var(--foreground);
  }
  
  .themeToggle:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  }
  