/* 404.module.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f4f4f4;
  }
  
  .title {
    font-size: 3rem;
    color: #ff0000;
  }
  
  .message {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .goHomeButton {
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .goHomeButton:hover {
    background-color: #005bb5;
  }
  